/* TodoForm.css */

.todo-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .todo-form input,
  .todo-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .todo-form button {
    display: block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #d3d8d3;
    color: rgb(21, 19, 19);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .todo-form button:hover {
    background-color: #45a049; /* Darker shade of the button color on hover */
  }
  
  .todo-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
 
  .custom-datepicker {
    width: 100%;
  }
  
  .react-datepicker {
    font-size: 17px;
    width: 100%;
  }
  