/* TodoItem.css */

.todo-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  .todo-item.completed {
    background-color: #f9f9f9;
    text-decoration: line-through;
    opacity: 0.7;
  }
  
  .todo-item h3 {
    margin-top: 0;
  }
  
  .todo-item p {
    margin-bottom: 10px;
  }
  
  .todo-item .actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .todo-item .actions button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .todo-item .actions button:hover {
    background-color: #ddd;
  }
  
  .todo-item .actions .complete-button {
    background-color: #4caf50;
    color: rgb(255, 255, 255);
  }
  
  .todo-item .actions .complete-button:hover {
    background-color: #45a049;
  }
  
  .todo-item .actions .pending-button {
    background-color: #ff9800;
    color: yellow;
  }
  
  .todo-item .actions .pending-button:hover {
    background-color: #e69100;
  }
  
  .todo-item input,
  .todo-item textarea {
    display: block;
  
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  li {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  li.pending {
    background-color: #fff;
  }
  
  li.completed {
    background-color: #f9f9f9;
    text-decoration: line-through;
    opacity: 0.7;
  }
  
  h3 {
    margin: 0;
  }
  
  span {
    font-size: 12px;
    color: #888;
  }
  
  p {
    margin-top: 5px;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .actions button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .actions button.edit-button {
    background-color: #2196f3;
    color: white;
  }
  
  .actions button.edit-button:hover {
    background-color: #1976d2;
  }
  
  .actions button.delete-button {
    background-color: #f44336;
    color: white;
  }
  
  .actions button.delete-button:hover {
    background-color: #d32f2f;
  }
  
  .actions button.complete-button {
    background-color: #4caf50;
    color: white;
  }
  
  .actions button.complete-button:hover {
    background-color: #45a049;
  }
  